<div class="titulo">
  <h1>Lista de Personas</h1>
</div>
<hr>
<div>
  <table>
    <tr>
      <th>Género</th>
      <th>Nombre</th>
      <th>País</th>
      <th>Estado</th>
      <th>Ciudad</th>
      <th>Correo Electrónico</th>
      <th>Fecha de Nacimiento</th>
      <th>Fotografía</th>
    </tr>
    <tr *ngFor="let person of listPersons">
      <td>{{ person.gender }}</td>
      <td>{{ person.name.first }} {{ person.name.last }}</td>
      <td>{{ person.location.country }}</td>
      <td>{{ person.location.state }}</td>
      <td>{{ person.location.city }}</td>
      <td>{{ person.email }}</td>
      <td>{{ person.dob.date }}</td>
      <td>
        <img src="{{ person.picture.medium }}" alt="Picture"/>
      </td>
    </tr>
  </table>
</div>
